@{
    ViewData["Title"] = "About";
}

<h1>About Us</h1>
<div>
    <p>GoSuite Employee is one of the many products in the GoSuite lineup of products that add functionality and value to your business.</p>
    <br />

    <p>Use GoSuite Employee to manage your workforce, whether it's bringing on newhires, promoting current employees, or letting go of those that don't quite fit the vision.</p>

    <p>GSE has the tools you need bring your company to the next level.</p>
</div>
